:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #111111;
  --card: #ffffff;
  --card-foreground: #111111;
  --popover: #ffffff;
  --popover-foreground: #111111;
  --primary: #030213;
  --primary-foreground: #ffffff;
  --secondary: #f1f2f5;
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --ring: #b3b3b3;
  --radius: 0.625rem;
}

.dark {
  --background: #111111;
  --foreground: #fafafa;
  --card: #111111;
  --card-foreground: #fafafa;
  --popover: #111111;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #343434;
  --secondary: #2f2f2f;
  --secondary-foreground: #fafafa;
  --muted: #2f2f2f;
  --muted-foreground: #b3b3b3;
  --accent: #2f2f2f;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fca5a5;
  --border: #2f2f2f;
  --input: #2f2f2f;
  --ring: #707070;
}

* {
  border-color: var(--border);
  outline-color: var(--ring);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

h4,
label,
button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

p,
input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, white,white);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, white,white);
}
